<div class="container">
  <div class="topcontainer">
    <h3>Track your Wallet</h3>
  </div>
  <div class="midcontainer">
    <input type="text" name="" id="" placeholder="Reason?" [(ngModel)]="expenseName">
    <div class="midinnercontainer">
      <input type="number" name="" placeholder="Enter Amount" [(ngModel)]="amount" max="100000" id="currency" appCurrencyInput>
      <div class="buttons">
        <button (click)="addExpense()" class="expense btn">Expense</button>
        <button (click)="addIncome()" class="income btn">Income</button>
      </div>
    </div>
    <div class="totalamt">
      <h3>
        Balance: {{balance |currency:'INR'}}
      </h3>
    </div>
  </div>
  <div class="expenselistcontainer">
    <div *ngIf="isError" class="error-message">
      {{errorMessage}}
    </div>
    <h4
      style="font-style: bold; width: 70%; margin: auto; text-align: center; border-bottom: 1px solid black; margin-bottom: 20px;">
      Transactions</h4>
    <div class="expenselist" *ngFor="let expense of expenseList"
      [ngStyle]="{ 'border-left': expense.amount > 0 ? '12px solid green' : '12px solid red' }">
      <span class="reasonName">{{expense.expenseName | titlecase}}</span>
      <span>{{expense.amount | currency: "INR"}}</span>
    </div>
  </div>
  <button (click)="clearLocalStorage()" class="clearAll btn" style="cursor: pointer;">Clear All</button>
</div>