* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-optical-sizing: auto;
    --text: #091208;
    --background: #f8fcf8;
    --primary: #53b34d;
    --secondary: #b14848;
    --accent: #7783c5;
    color: var(--text);
}

.container {
    display: grid;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 40px;
}

.topcontainer {
    margin: 50px 0px;
    text-align: center;
}

.midcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100px;
}

.midcontainer input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 18px;
    flex: 1;
    font-weight: 400;
    background-color: transparent;
}

.midinnercontainer {
    display: flex !important;
    justify-content: space-evenly;
    gap: 20px;
    align-content: center !important;
}

.midinnercontainer input {
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    color: var(--background);
}

.error-message {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.income {
    background-color: var(--accent);
}

.expense {
    background-color: var(--secondary);
}

.expense:hover,
.income:hover {
    cursor: pointer;
}

.clearAll {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--primary);
}

.totalamt {
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}

.expenselistcontainer {
    flex: 1;
    padding: 20px 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expenselisttransactions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
    background-color: greenyellow;
}

.mat-radio-group {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.expensecontent {
    display: flex;
    flex-direction: column;
}

.expenselist {
    padding: 10px;
    display: flex;
    border: 1.5px solid var(--text);
    justify-content: space-between;
    border-radius: 10px;
    flex-grow: 1;
}

.reasonName {
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    .topcontainer h1 {
        font-size: 28px !important;
    }

    .content {
        flex-direction: column;
        padding: 0px;
    }

    .midcontainer {
        flex-direction: column;
        height: auto;
    }

    .midinnercontainer {
        flex-direction: column;
    }

    .btn {
        padding: 10px 20px;
    }
}